<!DOCTYPE html>
<html>

<head>
</head>

<body>

<p> STATUS </p> 

<div>
<form method="POST" class="form"> 
	{% csrf_token %} 

	{{ form }}
	 <input type="submit" class="button" value="Submit" /> 

</form>
</div>

</body>
</html>